@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;
  background-color: #ffffff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #141414;
  }
} */

.react-international-phone-input,
.react-international-phone-country-selector-button {
  border: none !important;
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
}
.react-international-phone-input {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 160px !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}

.MuiSelect-select {
  color: #4d4d4d !important;
  padding: 10px 20px !important;
}

.MuiPickersInputBase-root {
  border: none !important;
  outline: none !important;
}

.MuiPickersInputBase-root .MuiPickersOutlinedInput-notchedOutline {
  outline: none !important;
  border: none !important;
}

.MuiPickersInputBase-root .MuiPickersOutlinedInput-notchedOutline:focus {
  border: 1px solid var(--color-yellow-500) !important;
}

.MuiPickersOutlinedInput:focus {
  border: 1px solid var(--color-yellow-500) !important;
}

.focused-date-picker {
  border: 1px solid var(--color-yellow-500) !important;
}
